{% extends 'index.html' %}

{% block content %}
{% load static %}
<div class="pagetitle">
  <h1>Liste des Commandes</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Gestion Client</li>
      <li class="breadcrumb-item active"><a href='/liste_depense'>Liste des Commandes<a></li>
    </ol>
  </nav>
</div><!-- End Page Title -->

  <style type="text/css">
    td{
      flex: 1;
      /*border: 1px solid red;*/
    }
  </style>

  </form>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Liste des Commandes | {{commandes.count }}</h5>


            <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">Client</th>
                    <th scope="col">Quantite</th>
                    <th scope="col">Nombre par lot</th>
                    <th scope="col">Prix Unitaire</th>
                    <th scope="col">Prix Total</th>
                    <th scope="col">Date Livraison</th>
                    <th scope="col">Livree</th>
                    <th scope="col">Action</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  {% for commande in commandes %}
                    <tr>
                      <td>{{ commande.client }}</td>
                      <td>{{ commande.quantite }}</td>
                      <td>{{ commande.produit.nombre_lot }}</td>
                      <td>{{ commande.produit.prix_unitaire }}</td>
                      <td>{{ commande.prix_total }}</td>
                      <td>{{ commande.date_livraison|date:"d-m-Y" }}</td>
                      {% if commande.livre == True %}
                       <td>Oui</td>
                      {% else %}
                      <td>Non</td>
                      {% endif %}

                     <td> <a href="{% url 'modifier_commande' commande.id %}">Modifier</a> </td>

                      
                    </tr>
                {% endfor %}
                </tbody>
              </table>
         </div>

  </div>
  <h5>MONTANT TOTAL : {{ total }}</h5>
 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.min.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.min.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</section>


{% endblock %}
