{% extends 'index.html' %}

{% block content %}
{% load static %}
<div class="pagetitle">
  <h1>Liste des Attributions </h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/dashbord">Home</a></li>
      <li class="breadcrumb-item">Gestion Attribution</li>
      <li class="breadcrumb-item active"><a href="{% url 'enregistrer_attribution' %}" >Liste des Commandes<a></li>
    </ol>
  </nav>
</div><!-- End Page Title -->

  <style type="text/css">
    td{
      flex: 1;
      /*border: 1px solid red;*/
    }
  </style>

  </form>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Liste des Attributions | {{attribution.count }}</h5>


            <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">Désignation</th>
                    <th scope="col">Commande </th>
                    <th scope="col">Livreur </th>
                    <th scope="col">Date  </th>
                    <th scope="col">Commentaire </th>
                    
                  
                                       
                    
                  </tr>
                </thead>
                <tbody>
                  {% for attribution in attributions %}
                    <tr>
                      <td>{{ attribution.designation }}</td>
                      <td>{{ attribution.commande.designation }}</td>    
                      <td>{{ attribution.livreur}}</td>
                      <td>{{ attribution.date|date:"d-m-Y" }}</td>
                      <td>{{ attribution.commentaire }}</td>                      
                      <!-- {% if commande.livre == True %}
                       <td>Oui</td>
                      {% else %}
                      <td>Non</td>
                      {% endif %} -->
                        {% comment%}
                     <td> <a href="{% url 'modifier_attribution' attribution.id %}">Modifier</a> </td>
                        {%endcomment%}
                      
                    </tr>
                {% endfor %}
                </tbody>
              </table>
         </div>

  </div>
  <h5>MONTANT TOTAL : {{ total }}</h5>
 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.min.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.min.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</section>


{% endblock %}
