{% extends 'index.html' %}

{% block content %}
{% load static %}
<div class="pagetitle">
  <h1>Liste des Livraisons du client : {{client.nom}} {{client.prenom}}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Gestion Client</li>
      <li class="breadcrumb-item active"><a href='/liste_depense'>Liste des Livraison du client : {{ client.nom }} {{ client.prenom }}<a></li>
    </ol>
  </nav>
</div><!-- End Page Title -->

  <style type="text/css">
    td{
      flex: 1;
      /*border: 1px solid red;*/
    }
  </style>

  </form>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>


            <table class="table datatable">
                <thead>
                  <tr>
                  	<th scope="col">Livreur</th>
                    <!-- <th scope="col">Produit</th> -->
                    <!-- <th scope="col">Quantite</th> -->
                    <!-- <th scope="col">Nombre par lot</th> -->
                   
                    <!-- <th scope="col">Prix Unitaire</th> -->
                    <th scope="col">Prix </th>
                    <th scope="col">Date Livraison</th>
                    
                    
                    
                    
                  </tr>
                </thead>
                <tbody>
                  {% for livraison in livraisons %}
                    <tr>
                      <td>{{ livraison.distributeur }}</td>
                      <!-- <td>{{ livraison.commande.produit }}</td> -->
                      <!-- <td>{{ livraison.commande.quantite }}</td> -->
                      <!-- <td>{{ livraison.commande.produit.nombre_lot }}</td> -->
                      <!-- <td>{{ livraison.commande.produit.prix_unitaire }}</td> -->
                      <td>{{ livraison.commande.prix }}</td>
                      <td>{{ livraison.date|date:"d-m-Y" }}</td> 
                    </tr>
                {% endfor %}
                </tbody>
              </table>
         </div>

  </div>
  <h5>NOMBRE TOTAL : {{ nbr }}</h5>
  <h5>MONTANT TOTAL : {{ total }}</h5>
 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.min.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.min.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</section>


{% endblock %}
